.nav-text {
    font-size: 50px;
    text-align:center; 
    text-emphasis-color: darkblue;
    background-color:green;
    padding-bottom: 50px;
    padding-top: 5px;
    
}
.wrap-div {
    padding: 10px 10px 10px 10px;
}

.dash {
    list-style-type: none;
}


text.footer{
    text-align: center;
    
}
.container-fluid {
    padding-bottom:0;

}

.position {
    position: relative;
    align-items: center;
}

#card-foot {
    background-color:lightgreen;
    opacity: 80%;
    
}